:root {
    --primary: #191b9c;
    --primary-shadow: #3c43ab;
    --secondary: #9c196a;
    --secondary-shadow: #ab3c8a;
    --font-primary: black;
    --font-secondary: white;
}

body {
    font-family: 'Maven Pro', sans-serif;
}

.btn-no-boot {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    padding: 3% 15%;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: all 0.3s;
    margin: 1% 0;
}

nav.navbar {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--font-secondary);
    font-weight: bolder;
}

.navbar-title {
    width: 100%;
    text-transform: uppercase;
    font-size: 2.8rem;
    color: black;
}

.subtitle h2 {
    color: var(--font-secondary);
    width: 100%;
    font-size: 1rem;
    word-wrap: break-word;
    word-break: break-all;
}

.form-control:focus {
    border: 0;
    outline: none!important;
    box-shadow: none;
    border-bottom: 3px solid var(--secondary);
    transition: ease-in-out 0.5s;
    color: black;
}

.form-control {
    width: 100%;
    border: 0;
    height: 50px;
    border-radius: 3px;
    border-top: none;
    border-bottom: 1px solid #DDD;
    font-size: 1.4rem;
}

input:focus {
    outline: none!important;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

.rose {
    width: 20%;
    font-weight: bolder;
    background: var(--secondary)!important;
    color: var(--font-secondary)!important;
    box-shadow: 0 6px var(--secondary-shadow);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: 0!important;
    border-radius: 5px;
    '   '
}

.rose:hover {
    box-shadow: 0 4px var(--secondary-shadow);
    top: 2px;
}

.rose:active {
    box-shadow: 0 0 var(--secondary-shadow);
    top: 6px;
    border: 0;
}

.btn-no-boot:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

button {
    width: 18%;
    font-weight: bolder;
    background: var(--primary)!important;
    color: var(--font-secondary)!important;
    box-shadow: 0 6px var(--primary-shadow);
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
    border: 0!important;
    border-radius: 5px;

}

button:hover {
    box-shadow: 0 4px var(--primary-shadow);
    top: 2px;
}

button:active {
    box-shadow: 0 0 var(--primary-shadow);
    top: 6px;
    border: 0;
}

input {
    border: 0 none;
}

html, body {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #5b32ff 31%, #5b32ff 31%, #ff14c8 97%);
    /* 
     background: linear-gradient(to bottom, #191b9c 1%,#7db9e8); 
    background: linear-gradient(to bottom, #9c196a 4%,#191b9c 31%,#191b9c 64%,#7db9e8 100%); */

background-repeat: no-repeat;
background-attachment: fixed;
}

.calculadora, .resultado {
    background: rgba(255, 255, 255, 0.6);
    padding: 10%;
    margin-top: 5%;
    border-radius: 10%;
}

#resultadoCatetoOposto, #resultadoCatetoAdjacente, #resultadoFinal {
    border-bottom: 1px solid #DDD;
    transition: ease-in-out 0.5s;
    width: 100px;
    font-size: 1.3rem;
}

#resultadoCatetoOposto.bottom {
    border-bottom: 3px solid var(--secondary);
}

#resultadoCatetoAdjacente.bottom {
    border-bottom: 3px solid var(--secondary);
}

#resultadoFinal {
    border-bottom: 1px solid #DDD;
    transition: ease-in-out 0.5s;
    width: 70%;
    font-size: 1.3rem;
}

#resultadoFinal.bottom {
    border-bottom: 3px solid var(--secondary);
}

.hipotenusa {
    font-size: 1.8rem;
    font-weight: bold;
}

.title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

@media (max-width: 600px) {
    .calculadora, .resultado {
        padding: 10%;
        margin-top: 2%;
    }
 
/* estilo do triangulo */

.wrap {
    width: 150px;
    height: 130px;
    margin: 5% auto;
    text-align: center;
}

.triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: 130px solid rgb(107, 143, 184);
    ;
    /* 129.903810568 */
    transform-origin: 75px 0;
    /* perspective: 150px; */
    perspective-origin: 50% 50%;
}

.face-1 {
    transform-origin: 75px 0;
    transform: rotateY(0deg) rotateX(19.5deg);
    animation: color1 2s infinite linear;
    animation-delay: 0s;
}

.face-2 {
    transform-origin: 75px 0;
    transform: rotateY(120deg) rotateX(19.5deg);
    animation: color1 2s infinite linear;
    animation-delay: 1s;
}

.face-3 {
    transform-origin: 75px 0;
    transform: rotateY(240deg) rotateX(19.5deg);
    animation: color1 2s infinite linear;
    animation-delay: 0s;
}

.face-4 {
    /* bottom face */
    transform-origin: 0 0px;
    transform: rotateX(90deg) translateY(-87px) translateZ(-122px);
    animation: color1 2s infinite linear;
    animation-delay: 1s;
}

.rotor-x {
    width: 150px;
    height: 130px;
    transform-origin: 75px 65px;
    transform-style: preserve-3d;
    animation: spinX 6s infinite linear;
}

.rotor-y {
    width: 150px;
    height: 130px;
    transform-origin: 75px 65px;
    transform-style: preserve-3d;
    animation: spinY 12s infinite linear;
}

.rotor-z {
    width: 150px;
    height: 130px;
    transform-origin: 75px 65px;
    transform-style: preserve-3d;
    animation: spinZ 18s infinite linear;
}

@keyframes spinX {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinY {
    from {
        transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes spinZ {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@keyframes color1 {
    0% {
        border-bottom-color: var(--primary-shadow);
        ;
    }
    50% {
        border-bottom-color: var(--primary);
    }
    100% {
        border-bottom-color: var(--primary-shadow);
        ;
    }
}